<mat-card>

    <img src="assets/images/profilepic2.jpg" class="profile" alt="gradpic" id="about-location">

    <mat-card-content>

        <div class="section" >
            <div class="container">
                <div class="card"  data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">About Me</div>
                                    <p align="justify">2022 Rice University Graduate in Computer Engineering. </p>
                                    <p align="justify">Currently working on personal projects including a Kotlin android application, this portfolio, and learning the Angular framework.</p>
                                    <p align="justify">I enjoy being challenged and engaged with projects that enable me to explore new technologies that I have not worked with yet. I am most comfortable with Java, Python, C++, and Kotlin development, however I would love to work with more web development technologies such as Angular or React.</p>
                                    <p align="justify">View the cards below to learn more about myself, skills, and experience.</p>
                            </div>
                        </div>    

                        <div class="col-lg-6 col-md-12">       
                            <div class="card-body">
                                <div class="h4 mt-0 title">Basic Information</div>
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <strong class="text-uppercase">Date of Birth:</strong>
                                    </div>
                                    <div class="col-sm-8">April 21, 2000</div>
                                </div>
                                
                                <div class="row mt-4">
                                    <div class="col-sm-4">
                                        <strong class="text-uppercase">Email:</strong>
                                    </div>
                                    <div class="col-sm-8">noahelijahortega@gmail.com</div>
                                </div>
                                
                                <div class="row mt-4">
                                    <div class="col-sm-4">
                                        <strong class="text-uppercase">Mobile No:</strong>
                                    </div>
                                    <div class="col-sm-8">+1 (817)-948-1120</div>
                                </div>
                                
                                <div class="row mt-4">
                                    <div class="col-sm-4">
                                        <strong class="text-uppercase">Location:</strong>
                                    </div>
                                    <div class="col-sm-8">Benbrook, TX, United States of America</div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-sm-4">
                                        <strong class="text-uppercase">My Pages:</strong>
                                    </div> 
                                    <a href="https://www.linkedin.com/in/noah-ortega-4a5256178/">LinkedIn Profile</a>
                                    <a href="https://github.com/TheArcticKitten">Github Profile</a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>