<div class="header">

    <mat-toolbar color="primary">
      <mat-toolbar-row>

        <span>Noah E. Ortega</span>

        <span class="example-spacer"></span>

        <button mat-icon-button (click)="aboutScroll()" aria-label="About Section">
          About
        </button>

        <span class="example-spacer"></span>

        <button mat-icon-button (click)="educationScroll()" aria-label="Education Section">
          Education
        </button>

        <span class="example-spacer"></span>

        <button mat-icon-button (click)="skillsScroll()" aria-label="Skills Section">
          Skills
        </button>

        <span class="example-spacer"></span>

        <button mat-icon-button (click)="experienceScroll()" aria-label="Experience Section">
          Experience
        </button>

        <span class="example-spacer"></span>

        <button mat-icon-button (click)="projectsScroll()" aria-label="Projects Section">
          Projects
        </button>

        <span class="example-spacer"></span>

        <button mat-icon-button (click)="contactScroll()" aria-label="Contact Form">
          Contact
        </button>

        <span class="example-spacer"></span>
      
      </mat-toolbar-row>
    </mat-toolbar>

  </div>