.example-spacer {
    flex: 1 1 auto;
  }

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
    
} 

.nav-button {
    padding-left: 3em;
}

.mat-toolbar-row {
    background-color: #a2d2ff;
}

.header{
 position: sticky;
 width: 100%;
 z-index: 1000;
 top: 0;   
}