<div class="container" id="projects-location">

    <mat-card>
        <mat-card-title>Recent Projects:</mat-card-title>

        <mat-card-content>
            <mat-card>
                <mat-card-title>r/SSBM Reddit Bot</mat-card-title>
                <mat-card-subtitle>Python, JSON</mat-card-subtitle>
                <mat-card-content>A bot written in Python which scrapes the r/SSBM subreddit on Reddit.com to look for specific queries that the community might use. Super Smash Brothers Melee is a complicated game with many techniques and play-styles, therefore it has a steep learning curve. The bot helps to flatten this learning curve by  providing links to tutorials, a GIF file  of the technique in action, and a wiki page for the technique in question. This information is presented as a comment in the thread which the bot detected as a query. </mat-card-content>
            </mat-card>

            <span class="example-spacer"></span>

            <mat-card>
                <mat-card-title>Tyson EIM (Enterprising Information Management) Application</mat-card-title>
                <mat-card-subtitle>Flutter, Dart</mat-card-subtitle>
                <mat-card-content>In summer of 2021 I developed an app in Flutter for Tyson Food Inc. It was a prototype to replace an outdated Windows OS app used to manage inventory. The replacement app was much more efficient and could work across many different operating systems with a responsive UI suitable for various device sizes.
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>Angular Portfolio Website</mat-card-title>
                <mat-card-subtitle>Angular, HTML, CSS, Typescript</mat-card-subtitle>
                <mat-card-content>I wrote this website from scratch to display my portfolio in a clean and concise manner.</mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>KeepUp!</mat-card-title>
                <mat-card-subtitle>Android Studio, Kotlin</mat-card-subtitle>
                <mat-card-content>An Android/iOS applicated created to aid in keeping up contact with friends. The system (designed by Derek Sivers) works as such: people are ordered into a group where they are contacted weekly/biweekly/monthly/etc. 
                    The app organizes the contact list into these sections based off a quiz (and can be manually edited) in order to notify the user when to keep up.</mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>

</div>