<div class="container" id="education-location">
    <mat-card>
        <mat-card-title>Education: Rice University (2018-2022)</mat-card-title>
        <mat-card-subtitle>Bachelor of Arts in Electrical Engineering with a Specialization in Computer Engineering</mat-card-subtitle>
        <mat-card-content>
            <p>At Rice I gained a plethora of experience designing both hardware and software. My classes focused on a variety of topics such as kernel programming, microcontroller programming (MSP430), parallel programming, low-level computer systems, and testing. During my time here I collaborated with peers to complete personal and group projects such as senior design in which we designed an autonomous lawnmower using python scripts and digital signal processing.    
            </p>
            <p></p>
        </mat-card-content>
    </mat-card>
</div>