.mat-card {
    background-color: #ffafcc;
}
.mat-card-content {
    color: black;
}
.mat-card-title {
    color: black;
}

.mat-card-subtitle {
    color: black;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}