<div class="container" id="skills-location">
    <mat-card>
        <mat-card-title>Skills and Technologies:</mat-card-title>

        <mat-card-content>

            <div class="row">
                <div class="col-sm-6">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Flutter</mat-list-item>
                        <mat-list-item role="listitem">Angular</mat-list-item>
                        <mat-list-item role="listitem">Android Studio</mat-list-item>
                        <mat-list-item role="listitem">HTML</mat-list-item>
                        <mat-list-item role="listitem">Dart</mat-list-item>
                    </mat-list>
                </div>
                <div class="col-sm-6">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Java</mat-list-item>
                        <mat-list-item role="listitem">Python</mat-list-item>
                        <mat-list-item role="listitem">C/C++</mat-list-item>
                        <mat-list-item role="listitem">CSS</mat-list-item>
                        <mat-list-item role="listitem">Typescript</mat-list-item>

                    </mat-list>
                </div>
            </div>
            <!-- <mat-list role="list">
                <mat-list-item role="listitem">Java</mat-list-item>
                <mat-list-item role="listitem">Python</mat-list-item>
                <mat-list-item role="listitem">Flutter</mat-list-item>
                <mat-list-item role="listitem">Angular</mat-list-item>
                <mat-list-item role="listitem">Android Studio</mat-list-item>
            </mat-list> -->
        </mat-card-content>
    </mat-card>
</div>