<div class="container" id="experience-location">

    <mat-card>
        <mat-card-title>Experience: Tyson Foods Inc. (Summer 2021)</mat-card-title>
        <mat-card-subtitle> Flutter Developer</mat-card-subtitle>
        <mat-card-content>
            At Tyson I was tasked with prototyping an idea to replace their outdated inventory management application running on Windows OS devices utilizing the Flutter framework. This was a mostly remote position in which my team had virtual daily stand-up meetings and large company meetings to review  goals. I also set up my own meetings with individuals on my team who also worked on my project to review the  technical specifications of my work . Overall, I gained knowledge and applications of Flutter, responsive pages, and the software development life cycle, all in the corporate environment.
        </mat-card-content>
    </mat-card>
</div>